.title {
    text-align: center;
    font-size: 70;
    font-family: dustismo_romanregular;
}   
            
p {
    text-align: center;
    font-size: 20px;
    font-family: dustismo_romanregular;
}

.twitchvidcaption {
    font-size: 25;
    font-family: dustimo_romanregular;
    
}
            
.caption {
    font-size: 25px;
    margin: 0 auto;
    width: 90%;
    height: 5%;
    display: block;
    cursor: pointer;
    padding-top: 62%;
    color:whitesmoke;
    text-decoration: none;
    font-family: dustismo_romanregular;
    text-align: center;
}

.caption1 {
    font-size: 25;
    margin: 0 auto;
    width: 90%;
    height: 5%;
    display: block;
    cursor: pointer;
    padding-top: 55%;
    color:whitesmoke;
    text-decoration: none;
    font-family: dustismo_romanregular;
}
              
.caption2 {
    font-size: 25;
    margin: 0 auto;
    width: 90%;
    height: 5%;
    display: block;
    cursor: pointer;
    padding-top: 62%;
    color:whitesmoke;
    text-decoration: none;
    font-family: dustismo_romanregular;
}
            
.center {
    background: url("Pictures/Riot challenge 1.png") no-repeat center center;
    margin: 0 auto;
    width: 27.66%;
    height: 27.66%;
    display: block;
    cursor: pointer;    
}

.center1 {
    background: url("Pictures/Riot challenge 2.jpg") no-repeat center center;
    margin: 0 auto;
    width: 31.11%;
    height: 27.66%;
    display: block;
    cursor: pointer;
}   

.center2 {
    background: url("Pictures/Riot challenge 3.png") no-repeat center center;
    margin: 0 auto;
    width: 27.66%;
    height: 27.66%;
    display: block;
    cursor: pointer;
}

.img {
    text-align: center;
    margin: 0 auto;
}
            
.header{
    padding: 1;
    text-align: center;
    background: url("Pictures/title_bar_img.jpg");
    color: whitesmoke;
    font-size: 30px;
    margin-top:-20px;
    margin-left: -15%;
    margin-right: -15%;
}
            
body, html {
    margin-bottom: 10%;
    margin: 0px;
    background: url(Pictures/lightBG.jpg);
    overflow-x: hidden;
}   
            
a:visited, a:link, a:active {
    text-decoration: none
}
            
a:hover {
    text-decoration: underline;
    text-decoration-color: whitesmoke;
}

.nohov:hover{
    background-color: black;
    border-color: whitesmoke;
    border-style:outset;
    border-width: thick;
}

@font-face {
    font-family: 'KnightsQuest';
    src: url('Fonts/KnightsQuest.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'dustismo_romanregular';
    src: url('Fonts/dustismo_roman.woff2') format('woff2'),
         url('Fonts/dustismo_roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.test{
    font-size: 25px;
    width: 22.5%;
    cursor: pointer;
    color:whitesmoke;
    text-decoration: none;
    font-family: dustismo_romanregular;
    float: right;
    margin-right:70px;
    margin-top: -70px;
    margin-bottom: 30px;
    pointer-events: none;
}

.twitchcaption {
    font-size: 25;
    height: 25;
    width: 290
    cursor: pointer;
    color:whitesmoke;
    text-decoration: none;
    font-family: dustismo_romanregular;
    text-align: center;
}

.test:nth-child(odd) {clear: right;}
.test:nth-child(even) {clear: right;}

.stream{
    padding-bottom: 90px;
    pointer-events: none;
}

.Records{
    float: left;
    width: 22.5%;
    cursor: pointer;
    margin-left:70px;
    margin-top: -70px;
    margin-bottom: 30px;
    pointer-events: none;
    padding-bottom: 90px;
    color: whitesmoke
}

.recordTitle {
    display: block;
    text-align: center;
    font-family: dustismo_romanregular;
    pointer-events: auto;
    color: whitesmoke;
    font-size: 25px;
}

.holder{
    text-align: center;
    color: whitesmoke;
    font-size: 20px;
    display: block;
    font-family: KnightsQuest;
    pointer-events: auto;
}

.one {
    color: gold;
}

.two {
    color: silver;
}

.three {
    color: darkorange;
}

.forum{
    text-align: center;
    padding: inherit;
}

.nav{
    list-style-type: none;
    text-align: center;
    padding: 0;
    background-color: black;
    padding-top: 10px;
    padding-bottom: 17px;
    margin-top: 0px;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    margin-left: -15%;
    margin-right: -15%;
}

.footer{
    font-size: 12;
    margin: auto;
    display: block;
    color:whitesmoke;
    text-decoration: none;
    font-family: dustismo_romanregular;
    pointer-events: none;
    padding-top: 12px;
    padding-bottom: 3px;
    bottom: 2px;
    float: left;
    width: 100%;
    text-align: center;
}
------------------------------------------------------------------------

forumbody {
    margin-bottom: 10%;
    margin: 0px;
    background: url(Pictures/lightBG.jpg)        
}
 
#wrapper {
    width: 100%;
    margin: 0 auto;             /* center the page */
}
 
#content {
    float: left;
    font-family: dustismo_roman;
    text-align: left;
    width: 100%;                /* fill up the entire div */
    background: url(Pictures/darkBG.jpg);
}
 
#menu {
    float: left;
    border: 1px solid #000;
    border-bottom: none;        /* avoid a double border */
    clear: both;                /* clear:both makes sure the content div doesn't float next to this one but stays under it */
    width:100%;
    height:20px;
    padding: 0 30px;
    background-color: #FFF;
    text-align: left;
    font-size: 85%;
}
 
#menu a:hover {
    background-color: #009FC1;
}
 
#userbar {
    background-color: black;
    float: right;
    width: 250px;
}
 
#footer {
    clear: both;
}
 
/* begin table styles */
table {
    border-collapse: collapse;
    width: 100%;
}
 
table a {
    color: whitesmoke;
}
 
table a:hover {
    color:#DADADA;
    text-decoration: none;
}
 
th {
    background-color: #B3B3B3;
    color: black;
}
 
td {
    padding: 5px;
    color: whitesmoke;
}
 
/* Begin font styles */
h1, #footer {
    font-family: dustismo_roman;
    color: whitesmoke;
}
 
h3 {margin: 0; padding: 0;color: whitesmoke;}
 
/* Menu styles */
.item {
    background-color: #00728B;
    border: 1px solid #032472;
    color: #FFF;
    font-family: Arial;
    padding: 3px;
    text-decoration: none;
}
 
.leftpart {
    width: 90%;
	text-align: center;
}

.rightpart {
    width: 10%;
	text-align: center;
}
 
.small {
    font-size: 75%;
    color: #373737;
}
#footer {
    font-size: 65%;
    padding: 3px 0 0 0;
}
 
.topic-post {
    height: 100px;
    overflow: auto;
}
 
.post-content {
    padding: 30px;
}
 
textarea {
    width: 32.55%;
    height: 23.14%;
}

.text{
    width: 10.47%;
    height: 22px;
}

.goodtext{
    font-size: 25px;
    font-family: dustismo-regular;
    color: whitesmoke;
}

body {
    margin-bottom: 10%;
    margin: 0px;
    background: url(Pictures/lightBG.jpg);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.container {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    background: url(Pictures/darkBG.jpg);
}

@font-face {
    font-family: 'dustismo_romanregular';
    src: url('Fonts/dustismo_roman.woff2') format('woff2'),
         url('Fonts/dustismo_roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.title {
    text-align: center;
    font-size: 70;
    font-family: dustismo_romanregular;
    padding: 1px;
    margin-top: 26.9px;
}   

.header{
    padding: 1px;
    text-align: center;
    background: url("Pictures/title_bar_img.jpg");
    color: whitesmoke;
    font-size: 30px;    
    margin-left: -15%;
    margin-right: -15%;
}

ul {
    margin-bottom: 0px;
    pointer-events:auto;
}

li {
    display: inline;
    font-family: dustismo_romanregular;
}

li a{
    color: whitesmoke;
    font-size: 30px;
    padding: 18px;
}

li a:visited, li a:link {
    text-decoration: none;
    color: whitesmoke;
}

li a:hover{
    background-color:#1f1f1f;
}

.myButton {
	box-shadow:inset 0px 0px 0px -50px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#1f1f1f;
	font-family:dustismo_roman;
	font-size:20px;
	font-weight:bold;
	padding:5px 15px;
	text-decoration:none;
	text-shadow:0px 0px 0px #ffffff;
}

.myButton:hover {
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	background-color:#dfdfdf;
}

.myButton:active {
	position:relative;
	top:1px;
}

.signinproceed{
    color: whitesmoke; 
    font-size: 50;
    text-align: center;
    margin-top: 5%;
}

singinproceed a:visited, signinproceed a:link{
    color: whitesmoke;
    text-decoration: none;
}

a {
    color: whitesmoke;
}








 





